body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
}


body p {
    font-size: 14px;
    color: #6C7289;
}

#sub-title {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14.63px;
    letter-spacing: 5px;
}

article {
    background-color: hsl(0, 0%, 100%);
    width: 343px;
    height: 611px;
    margin: 24px auto;
    border-radius: 10px;
}

#image-container {
    margin-bottom: 24px;
}

article img {
    max-width: 343px;
    max-height: 240px;
    overflow: hidden;
}

#info-container {
    padding: 0 24px;
}

#info-container h1 {
    margin: 0 0 16px;
    font-size: 2rem;
    color: #1C232B;
    line-height: 2rem;
    font-weight: 700;
}

#info-container p {
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 24px;
}

#price-container  {
    margin: 0 0 20px;
    width: 194px;
    display: flex;
    align-items: flex-end;
}

#price-container p {
    margin-top: 0;
}

#current-price {
    color: #3D8168;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-right: 19px;
}

#original-price{
    text-decoration-line: line-through;
    font-size: 13px;
    line-height: 23px;
}

button {
    background-color: #3D8168;
    border-radius: 8px;
    border-color: #3D8168;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    width: 295px;
    height: 48px;
    font-size: 14px;
    line-height: 26px;
}

#cart-icon {
    width: 14.39px;
    height: 1rem;
    margin-right: 11.6px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}